/* Hover shadow on navbar */
.custom-navbar {
  transition: box-shadow 0.3s ease;
}

.custom-navbar:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Smooth transition for links */
.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #1310bd; /* Bootstrap primary blue */
  font-weight: 500;
}

.nav-link .active:hover {
  color: #1310bd; /* Bootstrap primary blue */
}
